body{
	background-color: white;
}
* {
	font-family: Lucida, Arial;
	color: #3a1f1f;
	margin: 0;
  	padding: 0;
}
.container {
	display: flex;
	width: 100%;
	padding: 0 ;
}
ul {
	list-style: none; 
	align-items: center;
}
li {
	margin: 0 10px 0 10px;
	font-size: 1.5em;
}
.push {
	margin-left: auto;
}
header {
	background-color: white;
	position: fixed;
  	top: 0;
  	width: 100%
}
a {
	text-decoration: none;
	color: #3a1f1f;
}
a:hover {
	color: purple;
}
#nav-bar{
	  	box-shadow: 0px 0px 40px 10px #9c5858;
}
#form {
	padding-top: 80px;
	text-align: center;
}
#email-form{
		margin-top: 90px
	}
#email {
	width: 500px;
	height: 30px
}
#intro {
	font-weight: bold;
	font-size: 2em;
	color: #692323;
}
.button {
  background-color: #692323;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
}
.button:hover {
	background-color: purple;
}
.container-features {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
margin: 30px 0 30px 0;
}
.container-features > * {
	color: #692323
}
.features-title {
	font-weight: bolder;
}
.box1-features{
	flex-grow: 1;
	flex-wrap: wrap;
	width:10%;
	text-align: right;
	color: #692323;
}
.box2-features{
	flex-grow:1;
	flex-wrap: wrap;
	width: 50%;
	padding-right: 100px;
		
}
 .video-container {
 	display: flex;
 	justify-content: center;
 	margin: 30px;
 }

@media screen and (max-width: 560px){
	.box1-features{
		display:none;
	}
	.box2-features{
		width:100%;
		margin: 10px 0 10px 0;
		text-align: center;
	}
	.container {
		flex-direction: column;
		text-align: center;
		justify-content: center;
	}
	#email-form{
		margin-top: 90px
	}
}

.pricing-container{
 	display: flex;
 }
 .single-price-container {
 	/*display: flex;*/
 	color:blue;
 	flex:1;
 	justify-content: center	;	
}
 .price-title{
 	/*background-color: gray;*/
 	margin: 0;
 	width: 33%;
 	justify-content: center;
 	/*box-shadow: 0px 0px 20px 5px gray;*/
 	/*background-color: #B0B0B0;*/
	text-align: center
	align-items: center;
	width:100%;
	top: 0;
	/*box-shadow: 0px 0px 20px 2px #B0B0B0;*/
 }
 .single-plan-container:hover {
 	box-shadow: 0px 0px 20px 5px #B0B0B0;
 	background-color: #B0B0B0;
 	}
.plans-container {
	display:flex;
	justify-content: space-around;
	text-align: center;
}
.plans-container > * {
	font-size: 2em;
}
.single-plan-container{
	/*box-shadow: 0px 0px 40px 5px #B0B0B0;*/
	background-color: #A9A9A9;
	width: 25%;
}
.footer-container {
		display: flex;
	width: 100%;
	padding: 0 ;
	list-style: none;
	align-items: center;
}
#pricing-box1{
	float: right;
	
	margin-left: 3%; 
}
#pricing-box3{
	float: left;
}
footer{
	background-color: white;
	/*position: fixed;*/
  	bottom: 0;
  	width: 100%
  }
 #footer-nav-bar {
  	box-shadow: 0px 0px 30px 30px #9c5858;
}
.single-plan-container > * {
	margin-top: 25px;
	margin-bottom: 25px;
}
#features{
	padding-top: 70px
}
#pricing {
	padding-top: 70px;
}
#about {
	padding-top: 70px;
}


.parallax {
  /* The image used */
  background-image: url("http://www.toysrus.ca/cms_widgets/27/46/2746484_assets/TRU_CB_EduToys_E.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video-container {
	border-radius: 25px;
}